


@font-face {
    font-family: 'TF Lanna';
    src: url('../public/fonts/TF Lanna.ttf') ;
    font-weight: 100;
   
}

@font-face {
    font-family: 'TF Lanna';
    src: url('../public/fonts/TF Lanna Bol.ttf') ;
    font-weight: 600;
   
}